<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Update One Products</h1>
    </div>
  </div>
</div>
<div class="row m-b-18px">
  <div class="col-md-12">
    <a class='btn btn-primary pull-right' routerLink="/home">
      <span class='glyphicon glyphicon-list'></span> Read Products
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <!-- HTML form for creating a product -->
    <form>
      <table class='table table-hover table-responsive table-bordered'>

        <tr>
          <td>Name</td>
          <td>
            <input  type='text'  class='form-control' #name value="{{dataname}}"/>
            <!-- show this error if the field is 'touched' and 'empty' -->
            <!--<div *ngIf="update_product_form.get('name').touched && update_product_form.get('name').hasError('required')" class="alert alert-danger">Name is required.</div>-->
          </td>
        </tr>

        <tr>
          <td>Price</td>
          <td>
            <input  type='number' name='price' class='form-control'  #price value="{{dataprice}}"/>
            <!-- show this error if the field is 'touched' and 'empty' -->
            <!--<div *ngIf="update_product_form.get('price').touched && update_product_form.get('price').hasError('required')" class="alert alert-danger">Price is required.</div>-->
          </td>
        </tr>

        <tr>
          <td>Description</td>
          <td>
            <textarea name='description' class='form-control' #description>{{datadescription}}</textarea>
            <!-- show this error if the field is 'touched' and 'empty' -->
            <!--<div *ngIf="update_product_form.get('description').touched && update_product_form.get('description').hasError('required')" class="alert alert-danger">Description is required.</div>-->
          </td>
        </tr>

        <tr>
          <td>Category</td>
          <td>
            <select formControlName="category_id" name='category_id' class='form-control'  #option>
              <option value="1">Fashion</option>
              <option value="2">Electronics</option>
              <option value="3">Motors</option>
              <option value="5">Movie products.</option>
              <option value="6">Kindle books, audio books and more.</option>
              <option value="13">Drop into new winter gear.</option>
            </select>


            <!-- show this error if the field is 'touched' and 'empty' -->
            <!--<div *ngIf="update_product_form.get('category_id').touched && update_product_form.get('category_id').hasError('required')" class="alert alert-danger">Category is required.</div>-->
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <!-- Submit buttons is [disabled] if form is invalid. -->
            <button class="btn btn-primary" (click)="getData(name.value,price.value,description.value,option.value)" type="button">
              <span class="glyphicon glyphicon-edit"></span> Update
            </button>
          </td>
        </tr>

      </table>
    </form>

  </div>
</div>
