<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Create One Products</h1>
        </div>
    </div>
</div>
<div class="row m-b-18px">
    <div class="col-md-12">
        <a class='btn btn-primary pull-right' routerLink="/home">
            <span class='glyphicon glyphicon-list'></span> Read Products
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form >
            <table class="table table-hover table-responsive table-bordered">
                <tr>
                    <td>Name</td>
                    <td>
                        <input formControlName="name" name="name" type="text" class="form-control" required #name/>
                    </td>
                </tr>

                <tr>
                    <td>Price</td>
                    <td>
                        <input formControlName="price" type="number" name="price" class="form-control" required #price/>
                    </td>
                </tr>

                <tr>
                    <td>Description</td>
                    <td>
                        <textarea formControlName="description" name="description" class="form-control" required #description></textarea>

                    </td>
                </tr>

                <tr>
                    <td>Category</td>
                    <td>
                            <select name='category_id' class='form-control' #option>
                                <option selected>select category</option>
                                <option value="1">Fashion</option>
                                <option value="2">Electronics</option>
                                <option value="3">Motors</option>
                                <option value="5">Movie products.</option>
                                <option value="6">Kindle books, audio books and more.</option>
                                <option value="13">Drop into new winter gear.</option>
                            </select>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-primary" type="button" (click)="create(name.value,price.value,description.value,option.value)" >
                            <span class="glyphicon glyphicon-plus"></span> Create
                        </button>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>
