<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Read One Products</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <table class="table table-hover table-responsive table-bordered" >
            <tr>
                <th>Name</th>
                <th>{{dataresult.name}}</th>
            </tr>
            <tr>
                <th>Price</th>
                <th>{{dataresult.price}}</th>
            </tr>
            <tr>
                <th>Description</th>
                <th>{{dataresult.description}}</th>
            </tr>
            <tr>
                <th>Category</th>
                <th>{{dataresult.category_name}}</th>
            </tr>
        </table>
    </div>
</div>
